@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

/* Linkovi */

a {
  background-color: red;
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.4s;
}

a:hover {
  background-color: #555;
  cursor: pointer;
}

a:active {
  background-color: black;
}

/* Pocetna strana */

.card {
	width:43%; 
	margin-bottom:17px;
}

.post-container {
    margin: 20px 20px 0 0;  
    border: 5px solid #333;
    overflow: auto;
    background-image: url("background.jpg");
	background-size: cover;
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block;
    height: 200px;
    width: 300px;
}
.post-content {
    margin-left: 210px
}
.post-title {
    font-weight: bold;
    font-size: 200%
}

.button1 {
  background-color: red;
  color: white;
  border: 2px solid red; /* Green */
  transition-duration: 0.4s;
}

.button1:hover {
  background-color: #555; /* Green */
  border: 2px solid #555;
  color: white;
}

/* Komentari */

.comment {
        width: 20%;
        height: 100px;
        padding: 10px;
        border-left: 6px solid #095484;
        background-color: white;
        font: 1.4em/1.6em cursive;
        color: #095484;
}

.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}